.container_2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

h1 {
    margin-left: 5px;
    border: 0.4rem solid #fff;
    font-size: 1.5em;
    width: 30vw;
    border-radius: 2rem;
    animation: flicker 1.5s infinite alternate;
    text-align: center;
    padding: 10px 10px;
}


h1::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

h1::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

h1:focus {
    outline: none;
}

.global-rank{
    border: 0px 2px 0px 0px;
    border-color: aqua;
}


.user_line{
    display: flex;
}
.user_line p{
    margin: auto 10px;
}


.user_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: red;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20%;
}

.user_img img{
    object-fit: cover;
}




@media screen and (max-width: 720px) {

    h1 {
        width:  50vw;
        font-size: 1em;
    }
}